@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
:root {
    --main-blue: #0870B8;
    --faded-blue: #498CC7;
    --background-gray: #A3B1B9;
    --black-background: #0F0E0E;
  }

/* BEGIN GENERAL */

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
}

.d-none {
    display: none;
}

/* END GENERAL */
/* BEGIN HEADER */

header {
    background-color: var(--main-blue);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header button {
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
    transition: all .35s;
}

header button:hover {
    background-color: #D3E2F1;
    cursor: pointer;
}

header button a {
    color: var(--main-blue);
}

header ul {
    list-style-type: none;
    padding: 0;
}

/* END HEADER */
/* START TITLE */

.title {
    background-color: var(--black-background);
    color: white;
    padding: 15px;
}

.title h1 {
    margin: 0;
    font-size: 1.75em;
}

/* END TITLE */
/* BEGIN FILTERS */

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background-gray);
    color: black;
    padding-bottom: 10px;
}

.filters > div {
    margin: 0 15px;
}

.filters h2 {
    margin: 10px 5px 0 5px;
}

.filters .labels-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters .labels-container-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters .inner-filter {
    display: flex; align-items: center;
}

.filters label {
    background-color: var(--main-blue);
    color: white;
    padding: 2.5px;
    border-radius: 30px;
    transition: all .35s;
    font-size: 18px;
    margin: 2.5px;
    width: 215px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.filters label:hover {
    cursor: pointer;
}

.filters label.highlight {
    background-color: var(--main-blue);
    color: white;
}

.filters label.highlight:hover {
    background-color: var(--faded-blue);
    cursor: pointer;
}

.filters label.no-highlight {
    opacity: .5;
}

.filters img {
    max-width: 50px;
    margin: 0 5px;
}

.filters .checkmark {
    font-size: 30px;
    margin-right: 10px;
}

.filters input:disabled, .parts-filters.disabled label {
    cursor: not-allowed;
    pointer-events: all;
}

.filters .disabled {
    opacity: .5;
}

/* END FILTERS */
/* BEGIN CARDS */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px auto;
    max-width: 1200px;
}

.card-container .card:hover {
    cursor: pointer;
}

.card-container img  {
    margin: 5px 7px;
}

.card-container .chassis-card {
    width: 30%;
}

.card-container .part-card {
    width: 18%;
}

/* END CARDS */
/* BEGIN FOOTER */

footer {
    background-color: var(--black-background);
    color: white;
    padding: 5px;
    text-align: center;
}

/* END FOOTER */
/* BEGIN MEDIA QUERIES */

@media only screen and (max-width: 992px){
    .card-container .chassis-card {
        width: 47%;
    }
    .card-container .part-card {
        width: 22%;
    }
}

@media only screen and (max-width: 768px){
    .card-container .part-card {
        width: 30%;
    }
}

@media only screen and (max-width: 500px){
    .card-container .chassis-card {
        width: 100%;
    }
    .card-container .part-card {
        width: 45%;
    }
    .filters label {
        width: 135px;
        height: 35px;
        font-size: 12px;
    }
    .filters img {
        max-width: 25px;
    }
    .filters .checkmark {
        font-size: 18px;
    }
    .filters h2 {
        font-size: 1.25em;
    }
    .filters > div {
        /* margin: 0 2.5px; */
        margin: 0;
    }
}

/* @media only screen and (max-width: 439.9px){
    .parts-filters > div {
        flex-direction: column;
        align-items: center;
    }
} */

/* END MEDIA QUERIES */