body {
    color: #0870B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
    font-family: sans-serif;
}

img  {
    margin: 5px 7px;
}

.chassis-card {
    width: 30%;
}

.part-card {
    width: 18%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    justify-content: center;
}

.filters ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filters li {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.filters div {
    margin: 15px;
    border: 2px solid #0870B8;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}

.filters, .card-container {
    max-width: 1500px;
    padding: 15px;
    width: 100%;
}

.filters img {
    max-width: 25px;
}

input:hover, label:hover {
    cursor: pointer;
}